.vertical-align{
    vertical-align: middle;
}

.icon-align-1{
    vertical-align: -3.5px;
    padding-right: 5px ;
}

.icon-align-2{
    vertical-align: 0px;
    padding-right: 4px ;
}

.picture-icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1vw;
    cursor: pointer;
}

.font-btn, .font-btn-1{
    cursor: pointer;
}
.font-btn-left{
    margin-left: 10px;
}
.font-btn-1:hover{ color: rgb(240, 252, 252)}
.icon-shift-right{
    padding-left: 20px;
}

.icon-shift-right-0{
    padding-left: 10px;
}
