@media 
(max-width: 600px),
(min-width: 601px) and (max-width: 991px)  {

	/* Force table to not be like tables anymore */
	.res-td-5 { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	
	.res-td-5 { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		
	}
	
	.res-td-5:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
		font-weight: bold
	}
	
	/*
	Label the data
	*/
	/* repayment history*/
    .res-td-5:nth-of-type(1):before { content: "userId"; }
    .res-td-5:nth-of-type(2):before { content: "username"; }
	.res-td-5:nth-of-type(3):before { content: "Home address"; }
	.res-td-5:nth-of-type(5):before { content: "Status"; }
	.res-td-5:nth-of-type(7):before { content: "Details"; }
	
}