.caption{
    height: 70vh;
    top: 20vh;
    position: absolute;
    z-index: 100;

}

.caption__title{
    color: white;
    padding: 2vh 4vw;
}

.caption__message{
    padding: 2vh 4vw;
    margin-top: -5vh;
    color: whitesmoke;
}

@media screen and (max-width: 600px){
    .caption{
        height: 40vh;
        top: 20vh;
        position: absolute;
        z-index: 100;
    }
    
}