.loan-details{
    height: 80vh;
    position: fixed;
    top: 10vh;
    width: 80%;
    margin: 0% 8%;
    z-index: 211;
    padding-top: 4vh;
    overflow-y: auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 20px 0px rgba(245, 235, 235, 0.14), 0 7px 10px -5px rgba(231, 224, 213, 0.4);
}

.loan-details__header{
    padding-left: 2%;
    display: flex;
    width: 88%;
    margin-left: 5%;
    justify-content: space-around;
    -webkit-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
-moz-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
background-color: white;
}

.loan-details img{
    height: 20vh;
    width: 9vw;
    border-radius: 50%;
}
.loan-details__image-holder{
    height: 20vh;
    width: 11vw;
    text-align: center;
    padding: 1vh 0vw;
}

.loan-details__basic{
    padding: 3vh 1vw;
}

.loan-details-user-status, .loan-details-status{
    padding: 6vh 1vw;
}

.loan-details__body{
    width: 90%;
    margin-left: 4.9%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
-moz-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
background-color: white;
    
}

.user{

}

.close{
    padding-right: 5%;
}

.user__field span{
    padding-left: 0vw;
}
summary{
    padding-left: 2vw;
}

summary{ display: block; font-size: 1rem; color: antiquewhite; padding: 2vh 1vw;}
details .contact{
    width: 100%;
    height: 8vh;
    padding: 2vh 2vw;
}

details .employment, .bank{
    width: 100%;
    height: 16vh;
    padding: 2vh 2vw;
}

.employment > p{
    padding-bottom: 1.5vh;
}

.contact > p{
    padding-bottom: 1.5vh;
}
.bank > p{
    padding-bottom: 1.5vh;
}


details[open] summary.no-det:before { transform: rotate(90deg); }

details[open] { visibility: visible; }
.loanMsg{
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 20px 0px rgba(245, 235, 235, 0.14), 0 7px 10px -5px rgba(231, 224, 213, 0.4);
    z-index: 211;
    padding: 5vh 0vw;
    text-align: center;
    top: 30vh;
}

@media (max-width: 600px){
    .loan-details__header{
        padding-left: 2%;
        display: flex;
        flex-flow:wrap;
        width: 88%;
        margin-left: 5%;
        justify-content: space-around;
        -webkit-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
    -moz-box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
    box-shadow: -1px -1px 12px 4px rgba(125,116,125,0.22);
    background-color: white;
    }
    
    .loan-details img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .loan-details__image-holder{
        height: 80px;
        width: 80px;
        text-align: center;
        padding: 1vh 0vw;
    }
    
    .loan-details__basic{
        padding: 3vh 1vw;
        height: 60px;
        width: 99%;
        text-align: center;
    }
    
    .loan-details-user-status, .loan-details-status{
        padding: 2vh 2%;
        text-align: center;
    }
    

}

@media (max-width: 991px){
    .loan-details img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    .loan-details__image-holder{
        height: 100px;
        width: 100px;
        text-align: center;
        padding: 1vh 0vw;
    }
}