.loan-details{
    height: 80vh;
    background-color: white;
    position: fixed;
    top: 10vh;
    z-index: 211;
    padding: 0.5vh 1%;
    overflow-y: auto;
    box-shadow: 0 4px 20px 0px rgba(245, 235, 235, 0.14), 0 7px 10px -5px rgba(231, 224, 213, 0.4);
}

.loan-details__header{
    padding-right: 2vw;
}

.loan-details__body{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 8vh;
}

.user{

}

.user__field{
    padding: 0.5vh 2vw;
}

.user__field span{
    padding-left: 0vw;
}


.loanMsg{
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 20px 0px rgba(245, 235, 235, 0.14), 0 7px 10px -5px rgba(231, 224, 213, 0.4);
    z-index: 211;
    padding: 5vh 0vw;
    text-align: center;
    top: 30vh;
}