.logo{
    width: 10%;
    height: 8vh;
    margin-top: 1.5vh;
    margin-left: 2vw;
    padding-top: 0vh;
}



@media screen and (min-width: 300px){
    .logo__img-sm{
        width: 90px;
        height: 70%;
    }
    .-logo-w-sm-dv{
        width: 30%;
     }
}

@media screen and (min-width: 601px){
    .logo__img-m{
        width: 120px;
        height: 70%;
    }
    .-logo-w-sm-dv{
        width: 20%;
     }
}

@media screen and (min-width : 992px){
    .logo__img-l{
        width: 130px;
        height: 80%;
    }
    .-logo-w-sm-dv{
        width: 40%;
     }
}





