.postpayment{
    height: 60vh;
    position: absolute;
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
}

.-postpayment-top{
    top: 14vh;
}

.postpayment__container{
    height: 40vh;
}

.postpayment__header{
    width: 100%;
    padding: 4% 0%;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
}
.postpayment__body{
    width: 90%;
    height: 90%;
    border: 0;
    margin-bottom: 30px;
    border-radius: 0 0 6px 6px;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    padding: 1vh 5%;
}

.postpayment__inputText{
    width: 93%!important;
    padding: 3vh 3.5%!important;
    background-color: whitesmoke!important;
    margin-top: 2vh!important;
    border: none!important;
}


.postpayment__button{
    margin-top: 2vh;
    width: 100%!important;

}