.search{
    padding: 1vh 0vw;
    display: flex;
    margin: 2vh 2%;
}

.search__input{
    padding: 0vh 1.5vw!important;
    height: 5.5vh;
}

.search__button{
    height: 5.5vh;
    border: none;
}

.search__input:focus{
    outline: none;
}