.search{
    padding: 1vh 0vw!important;
    display: flex!important;
    margin: 2vh 2%!important;
}

.search__input{
    padding: 0vh 1.5vw!important;
    height: 5.5vh;
}

.search__button{
    height: 5.5vh!important;
    border: none!important;
}

.search__input:focus{
    outline: none!important;
}