.-repayment-header{
    height: 5vh;
    margin-bottom: -2vh;
}
@media 
(max-width: 600px),
(min-width: 601px) and (max-width: 991px)  {

	/* Force table to not be like tables anymore */
	.res-td-4 { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	
	.res-td-4 { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		
	}
	
	.res-td-4:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
		font-size: 16px;
		font-weight: bold
	}
	
	/*
	Label the data
	*/
	/* repayment history*/
	.res-td-4:nth-of-type(1):before { content: "LoanId"; }
	.res-td-4:nth-of-type(2):before { content: "Payment Status"; }
	.res-td-4:nth-of-type(3):before { content: "Amount Paid"; }
	.res-td-4:nth-of-type(4):before { content: "Date"; }
	.res-td-4:nth-of-type(5):before { content: "Due Date"; }
	
}