.alert{
    position: fixed;
    padding: 2vh 2vw;
    top: 25vh;
    right: 3%;
    z-index: 900;
    color: white;
    opacity: 0;
    border-radius: 10px 0px;
}


.fade-in{ animation: fadeIn 4s;}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

