.sidenav-wrapper {
    position: fixed;
    width: 180px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 210;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.sidenav-wrapper__header{
    background-color: teal;
    height: 70px;
    padding-top: 5px;

}

.sidenav-img-block{
    width: 50px;
    height: 50px;
    background: whitesmoke;
    border-radius: 50%;
    overflow: hidden;
}

.sidenav-img-block img{
    height: 50px;
}

.sidenav-wrapper__picture-holder{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10%;
}

.sidenav, .sidenav__logout{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidenav__item-link{
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    display: block;
    color: rgb(92, 180, 180);
}

.sidenav__item-link:hover,
.sidenav__item-link:active,
.sidenav__item-link.active{
    background-color: rgb(16, 139, 139);
    color: white;
}

.sidenav__icon{
    vertical-align: middle;  
    margin-right: 0.36603221083455345vw;
}

.sidenav__item-link .no-of-items{
    padding: 5px 1px;
    background: orangered;
    text-align: center;
    color: white;
    left: 55px;
    top: 200px;
}

.sidenav__logout{
    position: fixed;
    bottom: 0;
    width: 100%;
}