.slider {
    -webkit-appearance: none;
    width: 96%;
    height: 1.5vh;
    margin-top: 2vh;
    border-radius: 5px;   
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-bg-1{
  background: rgb(216, 215, 215);
}

.slider-bg-2{
  background:white;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


@media (max-width: 991px){
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20.47px;
    height: 3vh;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20.47px;
    height: 3vh;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
}